/* Mobile & Tablet */
@media (max-width: 1023px) {
    :root {
        --navbar-height: 0px;
        --header-height: 68px;
        --header-with-search-height: var(--header-height);
    }
    .hide-on-mobile-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
        text-align: right;
    }

    .header__cart-list {
        display: none;
        position: fixed;
        top: var(--header-height);
        width: 100%;
        right: 0;
        padding: 0 calc(calc(100% - 644px)/2);
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .app_container {
        margin-top: calc(var(--header-height) + var(--sort-bar-height));
    }
    .header__sort-bar {
        display: flex;
    }

    .app__content {
        padding-top: 8px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
        display: flex;
    }
    .header__cart,
    .header__logo {
        width: unset;
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05);
        z-index: 1;
        padding: 0 16px;
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }

    .header__search-history {
        position: fixed;
        left: 0;
        width: 100%;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05);
        top: calc(var(--header-height) + var(--sort-bar-height));

    }

    @keyframes mobileSearchSideIn {
        from {
            top: calc(var(--header-height)/2);
            opacity: 0;
        }
        to {
            top: calc(var(--header-height));
            opacity: 1;
        }
    }

    

    .pagination-item {
        margin: 0;
    }

    .pagination-item__link  {
        font-size: 1.6rem;
        height: 28px;
        min-width: 36px;
        width: 110px;
        height: 40px;
        display: block;
    }
}